export(read_sgf)
export(create_database)
export(validate_sgfs)
export(write_sgf)
export(write_gif)
export(write_tiny_gif)
export(plot_game)

importFrom("grDevices", "dev.off", "gray", "png")
importFrom("graphics", "lines", "par", "points", "polygon", "text")
importFrom("utils", "hasName")
importFrom("digest", "sha1")
importFrom(magrittr, "%>%")
